Source: pylon
Version: 5.2
Homepage: https://www.baslerweb.com
Description: Basler is an internationally leading manufacturer of high-quality cameras and accessories for applications in factory automation, medicine, traffic and a variety of other markets. The Basler Group is home to approximately 800 employees at its headquarters in Ahrensburg, Germany, and at other locations in Europe, Asia and North America.
